
extends layout
block body

 h3 聊天记录列表

 a(href='?from=0&filt=#{filt}') 第一页
 | 
 a(href='?from=#{to}&filt=#{filt}') 下一页
 | 
 a(href='?from=0&filt=1') 只看过滤

 - if (smongo)
  table(border=1)
   thead  
       th 名字 
       th 用户id
       th 分区
       th 过滤
       th 内容
       th 消息类型
       th 发送时间 
   each uo in users
     tr
       td #{uo._fn}
       td #{uo._fid}
       td #{uo._sec}
       td #{uo._filt}
       td #{uo.c} 
       td #{uo.t}
       td #{uo._t}
